@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&family=Montserrat:wght@100;300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .montserrat {
      font-family: 'Montserrat', sans-serif;
  }
  .montserrat-alternates {
      font-family: 'Montserrat Alternates', sans-serif;
  }
  .text-stroke {
    -webkit-text-stroke: 1px #4892D6;
    color: transparent;
  }
  .number-stroke {
    -webkit-text-stroke: 1px #FFF;
    color: transparent;
  }
  body {
    overflow-x: hidden;
    background: #000A13;
  }
}